<{% extends 'main/layoute.html' %}

{% block title %}
    <title>Краткая биография</title>
{% endblock %}

{% block content%}
    <h4> Льюис Кэрролл (настоящее имя Чарльз Лютвидж Доджсон) </h4>
    <p> — английский писатель, математик, логик, философ, диакон и фотограф.</p>
    <br>
 <p>Родился 27 января 1832 года в Дарсбери (графство Чешир), в многодетной семье английского священника.</p>

 <p>В 1864 году было написано произведение «Алиса в Стране чудес». Эта книга быстро стала популярной, её переводили на многочисленные языки, а затем неоднократно экранизировали.</p>

 <p>Прототипом главной героини стала четырёхлетняя Алиса Лидделл — дочь нового декана колледжа, где преподавал Кэрролл.</p>

 <p>Позднее автор создал ещё несколько известных произведений: «Алиса в Зазеркалье», «Охота на Снарка», «История с узелками» (сборник загадок, игр).</p>

 <p>Под своим настоящим именем писатель издавал научные труды по математике.</p>

{% endblock %}
