{% block title %}
    <title>Белый кролик></title>
{% endblock %}

{% block content%}
    <h4> Белый Кролик (англ. White Rabbit) </h4>
   <p> — говорящее животное с глазами розового цвета, одетое в жилетку и лайковые перчатки.  </p>
 <br>
 <p>Он носит часы в кармане и живёт в «чистеньком домике» с надписью: «Б. Кролик».</p>
 <p> первых главах Кролик куда-то опаздывает, в четвёртой пытается попасть в свой дом, </p>
 <p>а в финале произведения сопровождает королевскую чету и выступает в качестве глашатая.</p>
 <p>Автор отмечает, что Кролик создан для контраста с главной героиней.</p>
 <p>Доджсон, визуализируя образ персонажа, говорит что «Белый Кролик <…> носит очки, и я уверен, </p>
 <p>что голос у него должен быть неуверенный, колени — дрожать, а весь облик — бесконечно робкий».</p>
  
{% endblock %}