<<{% extends 'main/layoute.html' %}

{% block title %}
    <title>Алиса в стране чудес</title>
{% endblock %}

{% block content%}
    <h4> Алиса (англ. Alice) </h4>
 <p>— главная героиня сказки, которой около семи лет. </p>
 <br>
 <p>Считается, что прототипом образа протагонистки являлась подруга автора, Алиса Плезенс Лидделл, </p>
 <p>хотя сам Доджсон несколько раз упоминал, что образ его «маленькой героини» не был основан на реальном ребёнке и является полностью вымышленным. </p>
 <p>В романе Алиса предстаёт в качестве школьницы с причудливо-логическим складом ума, чьи прямые волосы «вечно лезут в глаза».</p>
 <p>Кэрролл в своей статье «Алиса на сцене» (англ. Alice on the Stage) описывал персонажа любящую как собаку — нежную, словно лань, </p>
 <p>учтивую по отношению ко всем, доверчивую и «любознательную до крайности, с тем вкусом к Жизни, который доступен только счастливому детству,</p>
 <p>когда всё ново и хорошо, а Грех и Печаль всего лишь слова — пустые слова, которые ничего не значат!»</p>

{% endblock %}